* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

:root {
    --background-color-light: #f0f0f5;
    --text-color-light: #333;
    --background-color-dark: #121212;
    --text-color-dark: #f5f5f5;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: var(--background-color-light);
        --text-color: var(--text-color-light);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--background-color-dark);
        --text-color: var(--text-color-dark);
    }
}

main {
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 10px;
}

.bookmarklet {
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0;
    background-color: #0073e6;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bookmarklet:hover {
    background-color: #005bb5;
}
